<h1>Welcome To LoRa Prototype</h1>

<p>Current status: prototype 1.</p>

<p>Manage <%= link_to 'Devices', devices_path %>.</p>
<p>Manage <%= link_to 'Groups', groups_path %>.</p>

<h2>UML Class Diagram</h2>
<%= link_to image_tag("/lrp1.png", style: "border: 1px solid black"), "/lrp1.png" %>