<h1>Add Device to Group</h1>

<p>
  <strong>Serial:</strong>
  <%= @device.serial %>
</p>

<p>
  <ul>
    <% @groups.each do |group| %>
      <li><%= link_to group.name,
        device_groups_path(device_id: @device.id, group_id: group.id), method: :post %></li>
    <% end %>
  </ul>
</p>
